/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/*content*/

.logo h1 a{
  text-decoration: none;
}

.mh1-light{
  font-family: Rosarivo;
  font-size: 1.1em;
  color: #14246E;
}

h3{
  font-family: 'Quicksand';
}
 h2{
  font-family: 'Quicksand';
 }
 
.exp{
  font-family: Nunito;
  font-size: 20px;
  line-height: 1;
}

        .img-wrap {
            max-width: 65%;
            height: auto;
            margin: 1rem;
        }
        .img-left {
            float: left;
            margin-right: 1rem;
        }
        .img-right {
            float: right;
            margin-left: 1rem;
        }
        @media (max-width: 576px) {
            .img-left, .img-right {
                float: none;
                margin: 0 auto 1rem;
                display: block;
            }
        }


#easteregg{
  text-decoration: none;
}

/* footer*/

.ftrtxt{
  background: transparent;
  font-size: 1.5em;
}

.subtxt1{
  font-family: Rosarivo;
}

.subtxt2 {
  font-family: Trajan Pro, Cinzel;
}

.footer {
  background: #111111;
  color: white;
  padding: 8vh 20vw;
  border-top: 2px solid #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

#cprtxt{
  font-family: Lugrasimo;
}



/*dark theme*/

body.dark {
  background-color: #000000;
  color: #ffffff;
}

.mh1-dark{
  font-family: Rosarivo;
  font-size: 1.1em;
  color: #ffffff;
}

/* Style for the toggle button */
.theme-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
}

 /* Style for the toggle button icon */
.theme-toggle i {
    font-size: 20px;
    /* Set the icon color based on the theme */
    color: #333333; /* Default to light theme color */
}

/* Icon color for dark theme */
body.dark .theme-toggle i {
    color: #ffffff;
}